*

# File types
!*.h
!*.hxx
!*.hpp
!*.cpp
!*.sh
!*.js
!*.mjs
!*.html
!Makefile

# Directories
!src
!src/test
!graph_central
!graph_forge

# Git shit
!.gitignore
!.gitattributes

# Submodules
!Catch2
!args
